[submodule "CypherFuzzer"]
	path = CypherFuzzer
	url = git@github.com:dahoat/CypherFuzzer.git
[submodule "CypherRewritingCore"]
	path = CypherRewritingCore
	url = git@github.com:jku-lit-scsl/CypherRewritingCore.git
